@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../../ckeditor5/ckeditor5.css';

body {
  font-family: Inter var, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

@layer base {
  html {
    font-family: Proxima Nova, system-ui, sans-serif;
  }
}

vercel-live-feedback {
  display: none !important;
}

.fnt-sans-serif {
  font-family: 'Oswald', sans-serif;
}

nextjs-portal {
  display: none;
}

/* auto select input feild background color*/
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s !important;
  background-color: 'unset' !important;
  -webkit-box-shadow: 0 0 0 30px rgba(217, 229, 255, 0) inset !important;
}
 #input-with-icon-textfield :-webkit-autofill{ 
  background-color: 'unset' !important;
  -webkit-box-shadow: 0 0 0 30px rgba(217, 229, 255, 0)inset !important;
}

.custom-snackbar {
  margin-top: 64px; /* Adjust this value as needed */
  /* background-color: rgb(12, 19, 13); */
  color: black
}

.notistack-MuiContent-success{
  background-color: rgba(5, 68, 13, 0.76) !important;
  color: black
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media print {
	body {
		margin: 0 !important;
	}
}

.main-container {
	font-family: 'Lato';
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.ck-content {
	font-family: 'Lato';
	line-height: 1.6;
	word-break: break-word;
  padding: 0 2rem 0  2rem !important;
}

/* Hide the first <h1> with placeholder */
.ck-content > h1[data-placeholder="Type your title"] {
    display: none !important;
}

.editor-container_classic-editor .editor-container__editor {
	min-width: 795px;
	max-width: 795px;
}

.editor-container_include-block-toolbar {
	margin-left: 42px;

}

.ck-powered-by-balloon{
  display: none !important;
}

/* .notistack-MuiContent-success{
 background-color: var(--mui-palette-Alert-errorStandardBg) !important;
}

.notistack-MuiContent-error{
  background-color: var(--mui-palette-Alert-successStandardBg) !important;
} */