@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter var, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

@layer base {
  html {
    font-family: Proxima Nova, system-ui, sans-serif;
  }
}

vercel-live-feedback {
  display: none !important;
}

.fnt-sans-serif {
  font-family: 'Oswald', sans-serif;
}

nextjs-portal {
  display: none;
}

/* auto select input feild background color*/
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s !important;
  background-color: 'unset' !important;
  -webkit-box-shadow: 0 0 0 30px rgba(217, 229, 255, 0) inset !important;
}
 #input-with-icon-textfield :-webkit-autofill{ 
  background-color: 'unset' !important;
  -webkit-box-shadow: 0 0 0 30px rgba(217, 229, 255, 0)inset !important;
}
